/*setting up variables*/
:root{
	--main-white: #FfFfFf;
	--main-yellow: #ffcc33;
	--main-blue: #4a638c;
	--main-gray: #4f4f59;
	--main-seafoam: #74c9bf;

}

/*Base reset*/
*{
	margin: 1rem;
	padding: 0.5rem;
}



/*Base style*/

body {
	font-family: sans-serif;
	color: var(--main-blue);
}


